# Node modules
node_modules/

# Vite build output
dist/

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# IDE / Editor
.vscode/
.idea/

# Misc
*.log
